.project
.pydevproject
.idea
.env
.env-dev
env
venv
temp
tmp
__pycache__
*.pyc
*egg-info
*.swp
*.sqlite
*.coverage
cover
*.log
.DS_Store
env.sh
.ropeproject
shippable
celerybeat-schedule
*.log
nbproject/